@font-face {
	font-family: a_AvanteTitlerCpsUpC_Bold;
	src: url(../fonts/a_AvanteTitlerCpsUpC_Bold.ttf);
}
@font-face {
	font-family: a_AvanteTitlerCpsUpC_Light;
	src: url(../fonts/a_AvanteTitlerCpsUpC_Light.ttf);
}