.ouradvantages-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #232323;
  height: 100%;
  flex-wrap: wrap;
}
.qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  margin: 50px 0;
}
.line {
  background-color: #ffda44;
  height: 1px;
  width: 70%;
  margin: 10px auto;
}
.qualities span {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}
.qualities p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
