.contact-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: #121212 url(../../img/feedback.png) no-repeat;
	height: 100%;
}
.contact h4 {
	text-align: left;
}
.contact p {
	text-align: left;
}
.contact h4 {
	font-size: 18px;
	color: #858585;
	text-transform: uppercase;
}
.contact p {
	font-size: 24px;
	color: #fff;
}
.info {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	padding-left: 55px;
	margin-bottom: 30px;
	position: relative;
}
.info img {
	border-right: 1px solid #ffda44;
	padding-right: 10px;
	position: absolute;
	top: 20%;
	left: 10px;
}
.title {
	display: block;
	text-align: center;
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}
.contact form {
	display: flex;
	align-items: center;
	flex-direction: column;
}
form input {
	font-family: 'Roboto', sans-serif;
	color: #717171;
	margin: 2px;
	font-size: 20px;
	background: rgba(12, 12, 12, 0.1);
	border: none;
	outline:none;
	border-bottom: 1px solid #ffda44;
	width: 100%;
}
form textarea {
	font-family: 'Roboto', sans-serif;
	color: #717171;
	margin: 2px;
	font-size: 20px;
	background: rgba(12, 12, 12, 0.1);
	border: none;
	outline:none;
	border-bottom: 1px solid #ffda44;
	width: 100%;
}
form button {
	margin-top: 15px;
	border: 3px solid #fff;
	border-radius: 3px;
	background: rgba(12, 12, 12, 0.1);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 30px; 
	color: #fff;
	width: 200px;
	cursor: pointer;
}
form button:hover {
	background: rgba(255, 218, 68, 0.1);
}