.container {
	max-width: 950px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	background: #fff;
	width: 100%;
}
.header-container {
	display: flex;
	justify-content: center;
}
.logo {
	margin: 52px 0;
	width: 343px;
	height: 121px;
}
.logo img {
	display: block;
	width: 100%;
}